        <nav id="footer" class="navbar fixed-bottom navbar-light bg-light">
            <p id="copy">© Copyright 2018 Dianna Simmons</p>
            <div id="social">
                
                <a href="https://www.twitter.com/arielle7simone">
                <img src="images/if_social-twitter_216402.svg" height="30px" width="30px">
                </a>
                <a href="https://www.instagram.com/arielle.simonee">
                <img src="images/if_instagram-2048-black_167679.png" height="30px" width="30px">
                </a>
            </div>
        </nav>
    </body>
    </html>