<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dianna Simmons</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Spectral+SC" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:Roboto|Wire+One|Italianno|300,300i,700|Pinyon+Script" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/js/contact.js"></script>
    <script src="/js/gallery.js"></script>
    <script src="/js/navbar.js"></script>
</head>

<body style="background-image: url('./images/macbookbackground2.jpg');
    width: 100%;
  position: absolute;
  top: 0;
  left: 0;">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="/images/logo.png" height="50" width="50">
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="justify-content-end collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link main-menu" href="/">HOME<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link main-menu" href="/projects">PROJECTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link main-menu" href="/contact">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-lg-6"></div>
<div class="col-lg-6" id="main">
        <div id="text">
        <span style="font-weight:bold">Hi </span>
        <span> my name is</span>
        <span id="name" style="font-style: italic"> Dianna</span>
        <h3>Professional Web Developer</h3>
        </div>
    </div>
</div>
</div>
    <br>
    <div id="info" class="container">
        <div class="row">
            <div class="col-sm">
                <div class="aboutme">
                <h1 id="about">About</h1>
                <h1 id="me">Me</h1>
                </div>
            </div>
            <div class="bio col-sm">
                <p>
                    Hello, my name is Dianna Simmons, a full-stack developer based in Los Angeles, CA.  I love of creating, pursing my passions, and helping people. I have a passion for the obscure, I love anime and Star Wars.</p>
                    <a href="https://www.linkedin.com/in/dianna-simmons-41a49b6b/">
                <img src="/images/if_11-linkedin_104493.png" height="50" width="50"></a>
                <a href="https://github.com/dsimmon1"><img src="/images/if_github2_252065.png" height="50" width="50"></a>
                <a href="https://stackexchange.com/users/11344894/diana-simmons">
                <img src="/images/if_stackoverflow-square-social-media_764872.png" height="50" width="50"></a>
                <br><br>
            </div>
            
            <div class="pic col-sm">

                <img id="picshadow" src="/images/IMG_4038.jpeg" height="300" width=auto>
            </div>
        </div>
    </div>
    <br>
</body>

</html>