<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dianna Simmons</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:Roboto|Wire+One|Italianno|300,300i,700|Pinyon+Script" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/js/contact.js"></script>
    <script src="/js/gallery.js"></script>
    <script src="/js/navbar.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Dianna</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link main-menu" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link main-menu" href="/projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link main-menu" href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
<div id="main">
        <div id="text">
        <span style="font-weight:bold">Hi </span>
        <span> my name is</span>
        <span id="name" style="font-style: italic"> Dianna</span>
        <h3>Professional Web Developer</h3>
        </div>
    </div>
    <br>
    <div id="info" class="container">
        <div class="row">
            <div class="col-sm">
                <div class="aboutme">
                <h1 id="about">About</h1>
                <h1 id="me">Me</h1>
                </div>
            </div>
            <div class="col-sm">
                <p>
                    Hello, my name is Dianna Simmons, a full-stack developer based in Los Angeles, CA. She has a love of creating, pursing her passions, and helping people. A passion for the obscure, I love anime and Star Wars.</p>
                <img src="/images/if_11-linkedin_104493.png" height="50" width="50">
                <img src="/images/if_github2_252065.png" height="50" width="50">
                <img src="/images/if_stackoverflow-square-social-media_764872.png" height="50" width="50">
            </div>
            <div class="col-sm">
                <img src="/images/IMG_4038.jpeg" height="300" width=auto>
            </div>
        </div>
    </div>
    <br>
</body>

</html>