<% include ../partials/head %>
<% include ../partials/header %>

<body>
 <h1 id="biography1">Projects</h1>
 <div class="container">
        <div class="row">
            <div class="column">
                <h1>Vibe LA</h1>
            </div>
            <h1>the Inventory</h1>
            <div class="column">
               <h1>Arielle Website</h1>
            </div>
            <div class="column">
                <h1>Flash Path</h1>
            </div>
        </div>
        </div>



<% include ../partials/footer %>