<% include ../partials/head %>
<% include ../partials/header %>

<!-- 
<div id="circle-shape-example">
                <h1 class="curve">Skills</h1>
                <hr>
                <div class="skills">
                <h6>html & css</h6>
                <h6>web design & mobile responsiveness</h6>
                <h6>javascript</h6>
                <h6>jquery</h6>
                <h6>ES6 & React</h6>
                <h6>Node.js & Express.js</h6>
                <h6>MySQL</h6>
                <h6>mongo</h6>
                </div>
            </div> -->
<body>
    
    <div class="projects1">
        <div class="row">

            <div class="col-md-8 one">
                <br>
                <div id="circle-shape-example">

                <h2 class="curve">Skills <br> & <br>Languages</h2>
                    <div class="skills">
                        <h6>html & css</h6>
                        <h6>web design</h6>
                        <h6>mongo</h6>
                        <h6>jquery</h6>
                        <h6>ES6</h6>
                        <h6>React</h6>
                        <h6>Node.js & Express.js</h6>
                        <h6>MySQL</h6>
                        <h6>javascript</h6>
                        <h6>mobile responsiveness</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="resume">
                    <h1>Resume</h1>
                    <img id="developer" src='/images/developerResume.jpg' alt='Web Developer Resume' height="auto">
                </div>

                <div id="myModal1" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01">
            <div id="caption1"></div>
        </div>
            </div>
        </div>
        <div class="row">
        <div class="col">

            <div class="projects">
                <h1>Projects</h1>
                <hr>
            
                
                <h2>Vibe LA</h2>
                <a href="https://shararsh.github.io/Project1/">
                <img id="portpic" src="/images/vibela.png" style="width:100%" class="hover-shadow cursor top">
                </a>
                <h5>Built with Yelp, Ticketmaster, Google, and Foursquare API and Firebase database</h5>
                <hr>
            
                
            <h2>the Inventory</h2>
            <a href="https://theinventoryproject.herokuapp.com/">
            <img id="portpic" src="/images/inventory.png" style="width:100%" class="hover-shadow cursor top">
            </a>
            <h5>Built with Node.js, Express.js, and MySQL</h5>
            <hr>
       

               <h2>Arielle Simonee</h2>
               <a href="http://www.iamariellesimonee.com/">
               <img id="portpic" src="/images/arielle.png" style="width:100%" class="hover-shadow cursor top"></a>
               <h5>Built with Node.js and Express.js</h5>
               
            </div>
            
        </div>
    </div>
</div>



<% include ../partials/footer %>